@font-face {
  font-family: "light";
  src: url(./Gotham-Light.otf);
}
@font-face {
  font-family: "thin";
  src: url(./Gotham-Thin.otf);
}
@font-face {
  font-family: "Bold";
  src: url(./GothamBold.ttf);
}
@font-face {
  font-family: "Book";
  src: url(./GothamBook.ttf);
}
@font-face {
  font-family: "regular";
  src: url(./GothamMedium.ttf);
}
